# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node
node_modules/

# Environment variables
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Metro
.metro-health-check*

# React Native
.expo/
.expo-shared/

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/captures/
sources/android/gradle.properties
*.keystore
*.jks

# iOS
ios/build/
ios/Pods/
ios/DerivedData/
*.xcworkspace
!ios/*.xcworkspace/contents.xcworkspacedata

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# CocoaPods
Podfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Bundles
*.jsbundle

# Coverage
coverage/

# Jest
jest-cache/

# ESLint
.eslintcache

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# Temporary files
tmp/
temp/
*.tmp

# SQLite databases (optional)
# Uncomment if DBs are generated locally
# *.db
# *.sqlite
# *.sqlite3

# React Native Debugger
react-native-debugger-open

# Yarn
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# npm
.npm/

# Build artifacts
dist/
build/

*.env
*./gradlew bundleRelease
**/sources/android/gradle.properties
